@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h4 class="display-6">Client Management MVC App</h4>
    <p>A simple ASP.NET MVC Application that helps you manage your client database!</p>
    <a class="btn btn-primary " asp-area="" asp-controller="Client" asp-action="Index">Take Me To The App</a>
    <hr />
    <p><img src="/img/clients.png" class="img-fluid"/></p>
</div>
